<!doctype html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>
  <title>CloudCMS Tech Demo | N*DEV</title>
</head>
<body>
    <p>Request: {JSON.toString(request)}</p>
    {@query sort="title" skip="0" limit="5" type="license:class"}
      {#rows}
      <pre>{title}</pre>
      {/rows}
    {/query}
</body>
</html>