<!doctype html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>
  <title>CloudCMS Tech Demo | N*DEV</title>
</head>
<body>
  {@queryOne field="_doc" fieldValue="40797ab66f9cdaddf01c" as="statePage"}
    {statePage.title}
    
    <p>License Classes:</p>
    {@iter obj=statePage.primaryRules}
    {@if cond="\"{$value.response}\" == true}
        <li>ALLOWED &mdash; {$value.question.title}</li>
    {/if}
    {@if cond="\"{$value.response}\" == false}
        <li>NOT ALLOWED &mdash; {$value.question.title}</li>
    {/if}
    {/iter}
    
  {/queryOne}
  
  {@query sort="title" skip="0" limit="5" type="license:class"}
  <ul>
    {#rows}
    <li>{title}</li>
    {/rows}
  </ul>
  {/query}
</body>
</html>